* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 16px;
  font-family: sans-serif;
  color: #303030;
  width: 100%;
  height: 100vh;
  background-color: #f1f1f1;
}

button {
  background: none;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}

a {
  text-decoration: none;
}
